#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}
section.slide {
	background-color: #FAFAFA;
	padding: 50px;
}
section#introduction {
	text-align: center;
}

nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em 1.5em;
	background-color: #F3F3F3;
	z-index: 1000;
	text-align: left;
} nav a, nav a:hover {
	border: 0;
	text-decoration: none;
	font-size: 0.8em;
	font-weight: bold;
	font-style: normal;
	padding-right: 2em;
}

div.masthead {
	padding: 4em 0;
} 
div.masthead h1 {
	color: #00458F;
}  

h2 {
	margin-top: 1.5em;
}

input#inputTab, input#inputChord, input#inputTuning {
	text-align: center;
	font-size: 2em;
	width: 10em;
	height: 2em;
	margin: 0 5px;
}

#results {
	margin: 50px auto;
	width: 550px;
}

#chord-layout {
	float: left;
	min-height: 100px;
}

#chordinfo {
	float: right;
	margin: 20px 0;
	text-align: left;
}

button#btn-more {
	width: 100%;
	cursor: pointer;
}