#app {
	max-width: 900px;
	margin: 5em auto;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

code    { background: #00458F; }


div.masthead {
	margin-bottom: 5em;
} 
div.masthead h1 {
	color: #00458F;
}  

input#inputTab, input#inputTuning {
	text-align: center;
	font-size: 2em;
	width: 10em;
	height: 2em;
	margin: 0 5px;
}

#results {
	margin: 50px auto;
	width: 550px;
}

#chord-layout {
	float: left;
	min-height: 100px;
}
@media (max-width: 768px) {
	#chord-layout { width: 140px; left: 50%; margin-left: -70px; }
}

#chordinfo {
	float: right;
	margin: 20px 0;
	text-align: left;
}


button#btn-more {
	width: 100%;
	cursor: pointer;
}

@media (max-width: 768px) {
	#main-form {
		width: 100%;
	}
	#main-form label {
		display: none;
	}
	#main-form input {
		height: 80px;
		z-index: 100;
		position: fixed;
		border-radius: 0;
		text-align: center;
		font-size: 1em;
		margin: 0;
		bottom: 0;
	}
	#main-form input#inputTuning {
		border-right: 1px solid #fff;
		width: 50%;
		left:0;
	}
	#main-form input#inputTab {
		border-left: 1px solid #fff;
		width: 50%;
		left:50%;
	}
}