#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}
section.slide {
	padding: 50px;
}
section#introduction, section#tabsearch, section#chordsearch {
	text-align: center;
}

nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em 1.5em;
	background-color: #F3F3F3;
	z-index: 1000;
	text-align: left;
} nav a, nav a:hover {
	border: 0;
	text-decoration: none;
	font-size: 0.8em;
	font-weight: bold;
	font-style: normal;
	padding-right: 2em;
}

.masthead {
	margin-top: 10%;
	padding: 4em 0;
} 
.masthead h1 {
	color: #00458F;
}  
.masthead h2 {
	font-weight: normal;
}

h2, h3 {
	margin-top: 1.5em;
}

input#inputTab, input#inputChord, input#inputTuning {
	text-align: center;
	font-size: 2em;
	width: 10em;
	height: 2em;
	margin: 0 5px;
}

.results {
	margin: 50px auto;
	width: 720px;
}

.chord-layout {
	float: left;
	padding: 5px 10px 5px 0;
	min-height: 100px;
}

.chord-card {	
	margin: 20px 0;
}

.chordinfo {
	float: left;
	margin: 20px 0;
	text-align: left;
}

button#btn-more {
	width: 100%;
	cursor: pointer;
}

.arrow-down {
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background-image: url("../img/down_arrow_black.svg");
  background-size: contain;
  opacity: 0.3;
}

.white {
	background-color: #FFFFFF;
}
.grey {
	background-color: #FAFAFA;
}