@media (max-width: 768px) {

	input#inputTab, input#inputTuning {
		text-align: center;
		font-size: 2em;
		width: 10em;
		height: 2em;
		margin: 5px;
	}

	#results {
		margin: 50px auto;
		width: auto;
	}

	#chord-layout {;
		float: none;
		min-height: 100px;
	}

	#chordinfo {
		float: none;
		margin: 20px 0;
		text-align: left;
	}
}