@media (max-width: 768px) {

	#app {
		overflow: hidden;
	}

	nav a {
		margin: 0 0 0 1em;
	}

	section.slide {
		padding: 1em;
	}

	input#inputTab, input#inputChord, input#inputTuning {
		text-align: center;
		font-size: 2em;
		width: 10em;
		height: 2em;
		margin: 5px;
	}

	.results {
		margin: 50px auto;
		width: auto;
	}

	.chord-layout {
		min-height: 100px;
	}

	#chordinfo {
		float: none;
		margin: 20px 0;
		text-align: left;
	}

	.web-only {
		display: none;
		visibility: hidden;
	}
}